@font-face {
  font-family: Leixo;
  src: url("../font/Leixo.ttf") format("truetype");
}

.background-video, .background-video video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.background-video {
  filter: blur(10px);
}

.bdrn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-family: Leixo;
  display: inline-block;
  border: 10px solid;
  padding: 5px 20px 10px 20px;
  font-size: 5em;
}
