@font-face {
  font-family: Leixo;
  src: url("../font/Leixo.ttf") format("truetype");
}

.background-image {
  background: url(../image/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 100vh;
  filter: blur(3px);
}

.bdrn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  font-family: Leixo;
  display: inline-block;
  border: 10px solid;
  padding: 5px 20px 10px 20px;
  font-size: 5em;
}
